<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="'/home/'">
   <mat-icon>home</mat-icon>
 </button>
</mat-toolbar>





<div fxLayout="column"  fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="space-evenly stretch" >



<!-- <mat-form-field appearance="standard"  >-->
  <!-- <mat-label>Magazin <mat-icon>store</mat-icon></mat-label> -->
  <mat-select (valueChange)="sendStoreToSession($event)">
<mat-option [value]="'ambele'">Ambele</mat-option>
    <mat-option *ngFor="let item of magazine"    [value]="item.name">
      {{item.name}}
    </mat-option>
  </mat-select>
<!-- </mat-form-field> -->

</div>
<mat-card fxFill><router-outlet > </router-outlet></mat-card>
</div>



