<div fxLayout="column" fxLayoutAlign="start start" fxFill>

  <div fxLayout="row" fxLayoutAlign="space-evenly stretch" >
<button mat-raised-button type="button" color="warn" [routerLink]="'/home/'" id="homeBtn" style="float: left;">
  <mat-icon>home</mat-icon> Home
</button>


<!-- <mat-form-field appearance="standard"  >-->
  <!-- <mat-label>Magazin <mat-icon>store</mat-icon></mat-label> -->
  <mat-select (valueChange)="sendStoreToSession($event)">

    <mat-option *ngFor="let item of magazine"    [value]="item.name">
      {{item.name}}
    </mat-option>
  </mat-select>
<!-- </mat-form-field> -->

</div>
<mat-card fxFill><router-outlet > </router-outlet></mat-card>
</div>



