
<!-- <ul>
  <li>
    {{ listing.price }}
  </li>
</ul> -->
<!-- <form  *ngIf="listing" [formGroup]="listingForm" (ngSubmit)="onSaveListing(listingForm)"> -->
<form  *ngIf="listing" [formGroup]="listingForm" >
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nume</mat-label>

    <input matInput formControlName="name" placeholder="Nume" value = {{listing.name}} />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ean</mat-label>

    <input matInput formControlName="ean" placeholder="Ean" value = {{listing.ean}}/>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preț</mat-label>

    <input matInput formControlName="price" placeholder="Preț" value = {{listing.price}}/>
  </mat-form-field>

  <button mat-button type="button" color="warn" (click)="beforeonSaveListing(listingForm, 1)">	<mat-icon>save</mat-icon> Salvează </button>
  <button mat-button type="button" color="primary" (click)="beforeonSaveListing(listingForm, 2)">	<mat-icon>update</mat-icon> Update </button>

</form>
<!-- BUTTON ERA TYPE SUBMIT -->





<!-- <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field> -->


<p>detalii works!</p>

