<form *ngIf="listing" [formGroup]="listingForm">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nume</mat-label>
    <input matInput formControlName="name" placeholder="Nume" value={{listing.name}} />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Ean</mat-label>
    <input matInput formControlName="ean" placeholder="Ean" value={{listing.ean}} />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Preț</mat-label>
    <input matInput formControlName="price" placeholder="Preț" value={{listing.price}} />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Magazin</mat-label>
    <input matInput formControlName="magazin" placeholder="Magazin" value={{listing.magazin}} />
  </mat-form-field>




  <button mat-raised-button type="button" color="warn" (click)="beforeonSaveListing(listingForm, 1)" (click)='goBack()'>
    <mat-icon>save</mat-icon> Salvează
  </button>

  <!-- <button mat-raised-button type="button" (click)='deleteProduct()' (click)="openDialog('0ms', '0ms')">
    <mat-icon>delete_forever</mat-icon>
  </button> -->

  <button [disabled]="justSaveBtn" mat-raised-button type="button" color="primary" style="float:right"
    (click)="beforeonSaveListing(listingForm, 2)" (click)='goBack()'>
    <mat-icon>update</mat-icon> Update
  </button>





</form>
